
LOG_LEVEL = debug
USE_MOCK = false

DEVICES_DB_HOST=devices
DEVICES_DB_PORT=5432
DEVICES_DB_USERNAME=x-keeper
DEVICES_DB_PASSWORD=1234567
DEVICES_DB_DATABASE=x-keeper_devices
DEVICES_DB_USE_SSH=false

ACCOUNTS_DB_HOST=localhost
ACCOUNTS_DB_PORT=5432
ACCOUNTS_DB_USERNAME=x-keeper
ACCOUNTS_DB_PASSWORD=1234567
ACCOUNTS_DB_DATABASE=accounts
ACCOUNTS_DB_USE_SSH = false


GRPC_HOST = geo00.x-keeper.net
GRPS_PORT = 6589


XKDB_SERVER_ID_0 = 0
XKDB_HOST_0 = 127.0.0.1
XKDB_PORT_0 = 11003
XKDB_USER_0 = test
XKDB_PASS_0 = test

XKDB_SERVER_ID_1 = 1
XKDB_HOST_1 = 127.0.0.1
XKDB_PORT_1 = 11003
XKDB_USER_1 = test
XKDB_PASS_1 = test