LOG_LEVEL = debug

DEVICES_DB_HOST=devices
DEVICES_DB_PORT=5432
DEVICES_DB_USERNAME=x-keeper
DEVICES_DB_PASSWORD=1234567
DEVICES_DB_DATABASE=x-keeper_devices
DEVICES_DB_USE_SSH=false

GRPC_HOST = geo00.x-keeper.net
GRPS_PORT = 6589
